<div class="container-fluid mt-5 about-style" id="aboutid">
      <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                  <h1 class="text-center main-heading">About Me</h1>
                  <p class="text-center sub-heading">Hello,I'm Nazeed khan, Frontend as well as Backend Web
                        Developer from India🥰.</p>
                  <div class="row">
                        {{!-- left side --}}
                        <div class="col-md-6 col-12 hero-text">
                              <figure>
                                    <img style="width: 50rem;" src="images/pic2.jpg" alt="image error!!">
                              </figure>
                        </div>
                        {{!-- right side --}}
                        <div
                              class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                              <h1>Current Position,</h1>
                              <p>I'm a Mechanical Engineer (Sophomore) .
                                    I'm also good in Programming Languages and I know different types of
                                    Programming
                                    languages as well as have a impressive hand on Data Structure and Algorithms.</p>
                              <p>Which Programming Languages I know? </p>
                              <div>
                                    <button type="button" class="btn btn-primary btn-lg buttonClass">C</button>
                                    <button type="button" class="btn btn-dark btn-lg buttonClass">C++</button>
                                    <button type="button" class="btn btn-danger btn-lg buttonClass">Java</button>
                                    <button type="button" class="btn btn-dark btn-lg buttonClass">Python</button>
                                    <button type="button" class="btn btn-primary btn-lg buttonClass">JavaScript</button>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>